<div class="load-wrapper">
    <div class="loader">
        <div class="loader-item">
            <div class="loader">
                <div class="loader">
                    <div class="inner one"></div>
                    <div class="inner two"></div>
                    <div class="inner three"></div>
                </div>
            </div>
        </div>
    </div>
</div>