<mat-toolbar style="background-color:#990E1C;color: white;">
    <span>ScanSnap for Invoice</span>
</mat-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div id="panelDemo7" class="panel panel-default">
        <div class="row">
            <h2>Forgot Password</h2>
            <p>Please enter your registered email address here.</p>
            <div class="row col-sm-12">
                <div class="col-sm-1">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>Email</label></h3>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-top:10px;">
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="emailid" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-purple" [disabled]="!emailid" (click)="ForgotPasswordEmailSend();">Submit</button>

        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>

    </div>
</div>
