<mat-toolbar style="background-color:#990E1C;color: white;">
    <span>ScanSnap for Invoice</span>
</mat-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div id="panelDemo7" class="panel panel-default">
        <div class="row">
            <h2 style="padding-top: 10px;">Set Password</h2>
            <p>Please set your password here.</p>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>Email</label></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <!-- <input class="form-control" type="text" [(ngModel)]="emailid" /> -->
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Email</mat-label>
                            <input  matInput type="text" name="email" placeholder="Email"
                            style="font-family: sans-serif;" [(ngModel)]="emailid" >
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>New Password</label></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <!-- <input class="form-control" type="password" [(ngModel)]="newpassword" /> -->
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>New Password</mat-label>
                            <input  matInput [(ngModel)]="newpassword" placeholder="New Password" [type]="hideNew ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="myFunctionNew()">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>Confirm Password</label></h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <!-- <input class="form-control" type="password" [(ngModel)]="confirmpassword" /> -->
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Confirm Password</mat-label>
                            <input  matInput [(ngModel)]="confirmpassword" placeholder="Confirm Password" [type]="hideConfirm ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="myFunctionConfirm()">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-purple" (click)="Forgotpassword()">Submit</button>

        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>

    </div>
</div>
