table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 12%;
  }

  .close {display: none;}

  /** No CSS for this example */
.disable:hover{
  cursor: not-allowed;
  }
  .disable:active{
  pointer-events: none;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  .ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
  }
  .modal {
    width: 950px; //size of modal
    margin: 0 auto; 
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }
  
  
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    overflow-y: initial !important

  }
  .export-container {
    text-align: right;
    margin-bottom: 20px;
  }
  .example-form-field {
    margin: 0 8px 16px 0;
  }
  ::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}  
.scoll-tree {
  width:2500px;
}
.spleval {
  background-color: #d9634842;
}