
<div class="container-fluid" style="padding:50px;">
    
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-3">
          <h2>View Subscriptions</h2>
        </div>
        <div class="col-lg-9" *ngIf="notify">
          <span>{{latestVersion}}<a href="{{downloadUrl}}" style="color:black;" target="_blank">{{downloadUrl}}</a></span>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
        <!-- <div class=" col-sm-2">
          <div class="form-group">
            <h3>View Subscriptions</h3></div>
        </div> -->
        <div class="col-sm-3" *ngIf="isShown">
            <div class="form-group">
                    <!-- <div class="autocomplete">
                        <input id="myInput" type="text" class="form-control" ng-model="user" name="myCountry" placeholder="Search User">
                    </div> -->

                    <input type="text" class="form-control" placeholder="Search Users" [(ngModel)]="selectUser" (keyup)="getUserIdsFirstWay($event)" id="userIdFirstWay" list="dynmicUserIds" />
                    <datalist id="dynmicUserIds">
                      <option *ngFor="let item of Users">{{item.UserEmail}}</option>
                    </datalist>
              
                
            </div>
        </div>
        <div class="col-sm-7">
            <button type="submit" *ngIf="isShown" class="btn btn-purple" (click)="SearchUser(selectUser);">Search</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-purple" [disabled]="btndisable" data-toggle="modal" data-target="#confirm" ng-click="CancelSub()">Cancel Subscription</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-purple" *ngIf="btninternalaction" data-toggle="modal" data-target="#viewInternalUserActions" (click)="ViewInternalActions()">View InternalUser Actions</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-purple" *ngIf="isShown" data-toggle="modal" data-target="#billingReport" (click)="BillingReport()">Billing Report</button>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="showuser">
      <div class=" col-sm-2">
          <label>{{showsearchuser}}</label>
      </div>
  </div>

    <!-- <div>
        <mat-form-field appearance="standard">
          <mat-label>Filter...</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Any..." #input>
        </mat-form-field>
      </div> -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- <ng-container matColumnDef="ProductName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:15%;"> Product Name </th>
            <td mat-cell *matCellDef="let row" style="width:15%;"> {{row.ProductName}} </td>
          </ng-container> -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:5%;">  </th>
            <td mat-cell *matCellDef="let row" style="width:5%;"> 
              <label for="chkCustomer_{{row.SubscriptionId}}">
                <input type="radio" [ngClass]="{'disable':row.SubscriptionName == 'Eval' || row.SubscriptionName == 'SplEval'||row.Status == 'Canceled'}" name="radio" value="New" (click)="setradio(row.SubscriptionId)">
            </label>
              <!-- <input type="radio" name="radio" value="New" (click)="setradio(row.SubscriptionId)" [checked]='true' ngModel>   -->
            </td>
          </ng-container>

          <ng-container matColumnDef="SubscriptionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:9%;"> Subscription Name </th>
            <td mat-cell *matCellDef="let row" style="width:9%;"> {{row.SubscriptionName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="SubscriptionId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:8%;"> Subscription Id </th>
            <td mat-cell *matCellDef="let row" style="width:8%;"> {{row.SubscriptionId}} </td>
          </ng-container>
    
          <ng-container matColumnDef="TotalConsumption">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:9%;"> Total Consumption </th>
            <td mat-cell *matCellDef="let row" style="width:9%;"> {{row.TotalConsumption}} </td>
          </ng-container>

          <ng-container matColumnDef="CurrentConsumption">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:10%;"> Current Consumption </th>
            <td mat-cell *matCellDef="let row" style="width:10%;"> {{row.CurrentConsumption}} </td>
          </ng-container>

          <ng-container matColumnDef="PageAllotment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:9%;"> PageAllotment </th>
            <td mat-cell *matCellDef="let row" style="width:9%;"> {{row.PageAllotment}} </td>
          </ng-container>

          <ng-container matColumnDef="Overage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:6%;"> Overage </th>
            <td mat-cell *matCellDef="let row" style="width:6%;"> {{row.Overage}} </td>
          </ng-container>

          <ng-container matColumnDef="MaxOverage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Max With Overage </th>
            <td mat-cell *matCellDef="let row"> {{row.MaxOverage}} </td>
          </ng-container>

          <ng-container matColumnDef="UnusedPages">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:5%;"> Bonus </th>
            <td mat-cell *matCellDef="let row" style="width:5%;"> {{row.UnusedPages}} </td>
          </ng-container>

          <ng-container matColumnDef="ActivationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:7%;"> Activation Date </th>
            <td mat-cell *matCellDef="let row" style="width:7%;">{{row.ActivationDate|date:'mediumDate'}}</td>
          </ng-container>


          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:7%;"> Status </th>
            <td mat-cell *matCellDef="let row" style="width:7%;"> {{row.Status}} </td>
          </ng-container>


          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:20%;"> Action </th>
            <td mat-cell *matCellDef="let row" style="width:20%;">
              <!-- <mat-icon style="cursor: pointer;" [disabled]="row.SubscriptionName==='Eval'" title="View Subscription" (click)="onSelectRisk(row)">visibility</mat-icon> -->
               <button style="cursor: pointer;"><mat-icon color="warn" data-toggle="modal" data-target="#viewModal" (click)="ViewSubscriptionBilling(row.SubscriptionId)" [ngClass]="{'disable':row.SubscriptionName !== 'Standard'}" title="View Billing Subscription" >visibility</mat-icon></button>&nbsp; 
               <button style="cursor: pointer;" *ngIf="isShown"><mat-icon color="warn" data-toggle="modal" data-target="#pagechangecountModal" [ngClass]="{'disable':row.SubscriptionName == 'Eval' || row.SubscriptionName == 'SplEval' ||row.Status == 'Canceled'}" title="Change Page Count" (click)="ChangePage(row.SubscriptionId,row.Overage,row.UnusedPages)" (click)="onSelectRisk(row)">note_add</mat-icon></button>&nbsp;
               <button style="cursor: pointer;" *ngIf="btninternalaction"><mat-icon color="warn" data-toggle="modal" data-target="#viewInternalUserActions" [ngClass]="{'disable':row.SubscriptionName == 'Eval' || row.SubscriptionName == 'SplEval' ||row.Status == 'Canceled'}" title="View Audit Trail" (click)="ViewAuditTrail(row.SubscriptionId)">pageview</mat-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row [ngClass]="{'spleval': row.SubscriptionName=='SplEval'}" *matRowDef="let row; columns: displayedColumns;"></tr>

           <tr class="mat-row" *matNoDataRow>
              <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

</div>

<!-- View Billing Subscription Model popup -->
<form>
  <div class="modal" role="dialog" id="viewModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:950px;">
        <div class="modal-header">

          <div class="row">
            <div class="col-sm-10">
              <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Billing Details</h2></div>

            </div>
            <div class="col-sm-2" style="padding-top: 13px;">
              <button mat-raised-button class="btn btn-purple" (click)="exportTable()">Export</button>

            </div>

          </div>

        </div>
        <div class="modal-body">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Filter...</mat-label>
              <input matInput (keyup)="applyFilterBilling($event)" placeholder="Any..." #input>
            </mat-form-field>
          </div>
          <div class="table-responsive">
            <div class="mat-elevation-z8">
              <table id="ExampleMaterialTable" mat-table [dataSource]="billingdataSource" matSort>
                <ng-container matColumnDef="BillID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:20%;"> Bill Id </th>
                  <td mat-cell *matCellDef="let row" style="width:20%;"> {{row.BillID}} </td>
                </ng-container>
          
                <ng-container matColumnDef="BillDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Bill Date </th>
                  <td mat-cell *matCellDef="let row"> {{row.BillDate|date:'mediumDate'}} </td>
                </ng-container>
          
                <ng-container matColumnDef="BillType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Bill Type </th>
                  <td mat-cell *matCellDef="let row"> {{row.BillType}} </td>
                </ng-container>
      
                <ng-container matColumnDef="InvoiceNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Invoice Number </th>
                  <td mat-cell *matCellDef="let row"> {{row.InvoiceNumber}} </td>
                </ng-container>
      
                <ng-container matColumnDef="InvoiceAmount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Invoice Amount </th>
                  <td mat-cell *matCellDef="let row"> {{row.InvoiceAmount}} </td>
                </ng-container>
      
                <ng-container matColumnDef="OverageCount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Overage </th>
                  <td mat-cell *matCellDef="let row"> {{row.OverageCount}} </td>
                </ng-container>
      
                <ng-container matColumnDef="PaidStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Paid Status </th>
                  <td mat-cell *matCellDef="let row"> {{row.PaidStatus}} </td>
                </ng-container>
      
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <!-- <mat-icon style="cursor: pointer;" [disabled]="row.SubscriptionName==='Eval'" title="View Subscription" (click)="onSelectRisk(row)">visibility</mat-icon> -->
                     <button style="cursor: pointer;"><mat-icon color="warn" title="View ConsumptionReport" data-toggle="modal" data-target="#viewConsumption" (click)="onSelectConsumptionReport()" (click)="onSelectRisk(row)" >summarize</mat-icon></button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="billingdisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: billingdisplayedColumns;"></tr>
          
                <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
                  </tr>
              </table>
          
              <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of billing"></mat-paginator>
            </div>
          </div>
          

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Change PageCount Model popup -->
<form>
  <div class="modal" role="dialog" id="pagechangecountModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:950px;">
        <div class="modal-header">
          <div class="row">
            <div class="col-sm-9">
              <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Change Page Count</h2>
</div>
            </div>
            <div class="col-sm-3" style="padding-top: 10px;">
              <button type="submit" class="btn btn-purple" data-toggle="modal" data-target="#viewPagecounthistory">View PageCount History</button>

            </div>

          </div>

        </div>
        <div class="modal-body">
          <!-- <div>
            <mat-form-field appearance="standard">
              <mat-label>Filter...</mat-label>
              <input matInput (keyup)="applyFilterChangePage($event)" placeholder="Any..." #input>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="changepagecountdatasource" matSort>
              <ng-container matColumnDef="LoggedInUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> LoggedInUser </th>
                <td mat-cell *matCellDef="let row"> {{row.LoggedInUser}} </td>
              </ng-container>
        
              <ng-container matColumnDef="SubscriptionId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Subscription Code </th>
                <td mat-cell *matCellDef="let row"> {{row.SubscriptionId}} </td>
              </ng-container>
        
              <ng-container matColumnDef="ChangeType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Change Type </th>
                <td mat-cell *matCellDef="let row"> {{row.ChangeType}} </td>
              </ng-container>
    
              <ng-container matColumnDef="ChangeCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Change Count </th>
                <td mat-cell *matCellDef="let row"> {{row.ChangeCount}} </td>
              </ng-container>
    
              <ng-container matColumnDef="CreatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Created On </th>
                <td mat-cell *matCellDef="let row"> {{row.CreatedOn |date:'mediumDate'}} </td>
              </ng-container>
    
              
              <tr mat-header-row *matHeaderRowDef="changepagecountdisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: changepagecountdisplayedColumns;"></tr>
        
            </table>
            <mat-paginator [pageSizeOptions]="[3]" aria-label="Select page of billing"></mat-paginator>

                  </div> -->
          <br><br>
          <mat-radio-group aria-label="Select an option" style="padding-left:20px;" [(ngModel)]="changetype" name="select">
            <mat-radio-button (change)="SelectonChange($event)"  value="Bonus">Bonus</mat-radio-button>&nbsp;&nbsp;
            <mat-form-field appearance="outline" style="width: 26%;">
              <mat-label>Enter the value</mat-label>
              <input matInput [(ngModel)]="txtbonus" name="bonusval">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>&nbsp;&nbsp;
            <mat-radio-button (change)="SelectonChange($event)"  value="Overage">Overage</mat-radio-button>&nbsp;&nbsp;
            <mat-form-field appearance="outline" style="width: 26%;">
              <mat-label>Enter the value</mat-label>
              <input matInput [(ngModel)]="txtoverage" name="overageval">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </mat-radio-group>

          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-1" style="padding-left:25px;padding-top:10px;">
                <div class="form-group">
                    <h3><label>Reason<span class="text-danger">*</span></label></h3></div>
            </div>
            <div class="col-lg-9">
                <div class="form-group">
                      <div class="example-container">
                        <mat-form-field appearance="outline" style="width: 90%;">
                          <mat-label>Enter reason here</mat-label>
                           <input matInput [(ngModel)]="reason" name="reasonvalue">
                          <mat-icon matSuffix></mat-icon>
                        </mat-form-field>
                      </div>
                                     
                    </div>
            </div>
            </div>
              
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-purple" data-dismiss="modal" [disabled]="((!changetype || !txtbonus && !txtoverage) || (!reason))" (click)="AddAndSubPage()">{{btnAddSub}}</button>&nbsp;&nbsp;
          <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- View History -->
<form>
  <div class="modal" role="dialog" id="viewPagecounthistory">
    <div class="modal-dialog">
      <div class="modal-content" style="width:950px;">
        <div class="modal-header">
          <div class="row">
            <div class="col-sm-9">
              <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Change PageCount History</h2>
</div>
            </div>

          </div>

        </div>
        <div class="modal-body">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Filter...</mat-label>
              <input matInput (keyup)="applyFilterChangePage($event)" placeholder="Any..." #input>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="changepagecountdatasource" matSort>
              <ng-container matColumnDef="LoggedInUser">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> User Name </th>
                <td mat-cell *matCellDef="let row"> {{row.LoggedInUser}} </td>
              </ng-container>
        
              <ng-container matColumnDef="SubscriptionId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Subscription Code </th>
                <td mat-cell *matCellDef="let row"> {{row.SubscriptionId}} </td>
              </ng-container>
        
              <ng-container matColumnDef="ChangeType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Change Type </th>
                <td mat-cell *matCellDef="let row"> {{row.ChangeType}} </td>
              </ng-container>
    
              <ng-container matColumnDef="ChangeCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Change Count </th>
                <td mat-cell *matCellDef="let row"> {{row.ChangeCount}} </td>
              </ng-container>
    
              <ng-container matColumnDef="CreatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Created On </th>
                <td mat-cell *matCellDef="let row"> {{row.CreatedOn |date:'mediumDate'}} </td>
              </ng-container>
    
              
              <tr mat-header-row *matHeaderRowDef="changepagecountdisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: changepagecountdisplayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of billing"></mat-paginator>

                  </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Consumption Report -->
<form>
  <div class="modal" role="dialog" id="viewConsumption">
    <div class="modal-dialog">
      <div class="modal-content" style="width:950px;">
        <div class="modal-header">
              

<div class="row">
  <div class="col-sm-10">
    <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Consumption Report</h2>
    </div>
  </div>
  <div class="col-sm-2" style="padding-top: 13px;">
    <button mat-raised-button class="btn btn-purple" (click)="exportConsumptionTable()">Export</button>

  </div>

</div>
        </div>
        <div class="modal-body">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Filter...</mat-label>
              <input matInput (keyup)="applyFilterChangePage($event)" placeholder="Any..." #input>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="consumptionReportdatasource" matSort>
              <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> UserName </th>
                <td mat-cell *matCellDef="let row"> {{row.Username}} </td>
              </ng-container>
        
              <ng-container matColumnDef="SubscriptionCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Subscription Code </th>
                <td mat-cell *matCellDef="let row"> {{row.SubscriptionCode}} </td>
              </ng-container>
        
              <ng-container matColumnDef="PageCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Page Count </th>
                <td mat-cell *matCellDef="let row"> {{row.PageCount}} </td>
              </ng-container>
    
              <ng-container matColumnDef="CreatedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Created On </th>
                <td mat-cell *matCellDef="let row"> {{row.CreatedOn |date:'mediumDate'}} </td>
              </ng-container>
    
              
              <tr mat-header-row *matHeaderRowDef="consumptiondisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: consumptiondisplayedColumns;"></tr>
         <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
                  </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of billing"></mat-paginator>

                  </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- View InternalUser Actions -->
<form>
  <div class="modal" role="dialog" id="viewInternalUserActions">
    <div class="modal-dialog">
      <div class="modal-content" style="width:950px;">
        <div class="modal-header">
              

<div class="row">
  <div class="col-sm-10">
    <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>View Internal User Actions
    </h2>
    </div>
  </div>

</div>
        </div>
        <div class="modal-body">
          <!-- <div>
            <mat-form-field appearance="standard">
              <mat-label>Filter...</mat-label>
              <input matInput (keyup)="applyFilterChangePage($event)" placeholder="Any..." #input>
            </mat-form-field>
          </div> -->
          <div class="row" *ngIf="viewInternalAudit">
            <div class="col-lg-1" style="padding-left: 15px;">
              <div class="form-group">
                <h3><label>Users</label></h3>
              </div>
            </div>
   
            <div class="col-sm-4">
              <select class="form-control" #mySelect [(ngModel)]="selecteduser" (change)="onUserChange(mySelect.value)" title="select user"
              name="lang">
              <option value="">--Select User--</option>
              <option *ngFor="let user of Users" value={{user.UserEmail}}>{{user.UserEmail}}</option>
                  </select>     
          </div>
          <div>          
            <button class="btn btn-purple" (click)="SearchUserAction()">Search</button>
</div>
        </div>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="viewInternalUserActionsdataSource" matSort>
              <ng-container matColumnDef="UserName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> User Name </th>
                <td mat-cell *matCellDef="let row"> {{row.UserName}} </td>
              </ng-container>
        
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Actions </th>
                <td mat-cell *matCellDef="let row"> {{row.Actions}} </td>
              </ng-container>
        
              <ng-container matColumnDef="ActionDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Action Description </th>
                <td mat-cell *matCellDef="let row"> {{row.ActionDescription}} </td>
              </ng-container>
    
              <ng-container matColumnDef="ActionDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="text-align: center;"> Action Date </th>
                <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.ActionDate|date:'mediumDate'}} </td>
              </ng-container>
    
              
              <tr mat-header-row *matHeaderRowDef="internalactiondisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: internalactiondisplayedColumns;"></tr>
         <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center;" class="mat-cell" colspan="12">No data available</td>
                  </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of billing"></mat-paginator>

                  </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
<form>
    <div class="modal" role="dialog" id="confirm">
      <div class="modal-dialog">
        <div class="modal-content" style="width:950px;">
          <div class="modal-header" style="display: inline;">
  <div class="row">
    <div class="col-sm-10">
      <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Cancel Subscription?
      </h2>
      </div>
    </div>
  
  </div>
          </div>
          <div class="modal-body">
            Are you sure you want to cancel this subscription?
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-purple">No</button>         
            <button type="button" data-dismiss="modal" (click)="CancelSubscription()" class="btn btn-purple" id="delete">Yes</button>
           </div>
        </div>
      </div>
    </div>
  
</form>
<script type="text/javascript">
    history.pushState(null, null, location.href);
    history.back(); history.forward();
    window.onpopstate = function () { history.go(1); };
</script>

