
<div class="container-fluid" style="padding:50px;">
    <div class="row">
        <h1>ScanSnap for Invoice Account Creation</h1>
        <div class="row">
          <div class="form-group"></div></div>
        <p>Please enter your email address below</p>
        <div class="row">
          <div class="form-group"></div></div>
          <div class="row">
            <div class="form-group"></div></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-1" style="padding-top:20px;padding-left:0px;">
              <div class="form-group">
                  <h3><label>Email</label></h3></div>
          </div>
          <div class="col-lg-3">
              <div class="form-group">
                    <div class="example-container">
                      <mat-form-field appearance="outline" style="width: 90%;">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" [formControl]="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                      </mat-form-field>
                    </div>
                                   
                  </div>
          </div>
          </div>
            
        </div>
        <br/>

        <button type="submit" class="btn btn-purple"  (click)="onClickNext()">Next</button>&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-purple" (click)="Back()" ng-click="Back();">Back</button>
       </div>
</div>











