<mat-toolbar style="background-color:#990E1C;color: white;">
    <span style="padding-left: 16px;">ScanSnap for Invoice</span>
</mat-toolbar>
<div>
    <div>
        <div class="row">
            <div class="col-lg-12" style="padding: 20px 20px 20px;">
                <div class="col-lg-8">
                    <div class="row">
                        <!-- <h1 style="font-family: inherit;font-weight: bold; padding-top: 15px;">ScanSnap for Invoice</h1> -->
                        <h2 style="font-family: inherit; color: #656565; padding-top: 15px;padding-left: 20px;">If you have an account,
                            enter your username and password to login</h2>
                        <h2 style="font-family: inherit; color: #656565;padding-top: 15px;padding-left: 20px;">If you do not have an
                            account, create one!</h2>
                        </div>
<br>
<br>
                            <div class="row col-lg-6"style="padding-left:20px;">
                        <button type="button" class="login100-form-btn" (click)="CreateAccount()"
                            style="font-family: sans-serif;width:50%">
                            Create Account
                        </button>
                        </div>
                </div>
                <div class="col-lg-4">

                    <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div style="margin: 0px 0px 150px 0px;">
                            <span>
                                <h1 style="font-family: inherit;font-weight: bold; padding-top: 15px;">Login</h1>
                            </span>
    <br>
                            <div class="wrap-input100 validate-input">
                                <mat-form-field appearance="fill" style="width:95%;">
                                    <mat-label>Username</mat-label>
                                    <input  matInput type="text" name="Username" placeholder="Username"
                                    style="font-family: sans-serif;" formControlName="username" required>
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                                <div *ngIf="validateLoginForm && loginFormControls.username.errors">
                                    <small class="text-danger" *ngIf="loginFormControls.username.errors.required">
                                        Please Enter User Name
                                    </small>
                                </div>
                                
                            </div>
    
                            <div class="wrap-input100 validate-input">
             <mat-form-field appearance="fill" style="width:95%;">
                <mat-label>Password</mat-label>
                <input  matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
                                <div *ngIf="validateLoginForm && loginFormControls.password.errors">
                                    <small class="text-danger" *ngIf="loginFormControls.password.errors.required">
                                        Please Enter Password
                                    </small>
                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" style="font-family: sans-serif;"
                                >
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
  