
<div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <!-- <div class="login100-pic js-tilt">
                  <img src="/assets/PortalLoginImage.svg" alt="IMG">
              </div> -->
                <div class="row">
                    <h1 style="font-family: inherit;font-weight: bold; padding-top: 15px;">ScanSnap for Invoice</h1>
                    <h2 style="font-family: Source Sans Pro; color: #656565; padding-top: 15px;">If you have an account,
                        enter your username and password to login</h2>
                    <h2 style="font-family: Source Sans Pro; color: #656565;padding-top: 15px;">If you do not have an
                        account, create one!</h2><br>
                    <button class="login100-form-btn" routerLink="/createaccount"
                        style="font-family: sans-serif;width:50%">
                        Create Account
                    </button>
                </div>
                <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div style="margin: 0px 0px 150px 0px;">
                        <span>
                            <h1 style="font-family: inherit;font-weight: bold; padding-top: 15px;">Internal App Login</h1>
                        </span>
<br>
                        <div class="wrap-input100 validate-input">
                            <!-- <input class="input100" type="text" name="Username" placeholder="username"
                                style="font-family: sans-serif;" formControlName="username" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span> -->
                            <mat-form-field appearance="fill" style="width:95%;">
                                <mat-label>username</mat-label>
                                <input  matInput type="text" name="Username" placeholder="username"
                                style="font-family: sans-serif;" formControlName="username" required>
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                            <div *ngIf="validateLoginForm && loginFormControls.username.errors">
                                <small class="text-danger" *ngIf="loginFormControls.username.errors.required">
                                    Please Enter User Name
                                </small>
                            </div>
                            
                        </div>

                        <div class="wrap-input100 validate-input">
                                <!-- <input class="input100" type="password" name="password" placeholder="password"
                                style="font-family: sans-serif;" formControlName="password" required>                            
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
         -->
         <mat-form-field appearance="fill" style="width:95%;">
            <mat-label>password</mat-label>
            <input  matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
                            <div *ngIf="validateLoginForm && loginFormControls.password.errors">
                                <small class="text-danger" *ngIf="loginFormControls.password.errors.required">
                                    Please Enter Password
                                </small>
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" style="font-family: sans-serif;"
                            >
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
  