<mat-toolbar class="navbar">
    <div>
      <a class="navbar-brand" routerLink="/dashboard">
        <!-- <div *ngIf="logoUrl"> -->
        <img src="assets/logo.svg" alt="img" style="height:2.8rem">
        <span style="color: grey; font-size:1.5rem" class="font_regular"> <span style="color: #1A3F6E; font-weight: bold; padding-left: 5px">App</span><span style="color: #D82B27; font-weight: bold;">Protectt</span></span>
        <!-- </div> -->
        <!-- <span class="font_bold m-2">
          <span class="colorBlue">Protectt.</span><span class="colorRed">ai</span>
          <span class="colorBlue"> Labs</span>
        </span> -->
        <span style="color: grey;"> | </span> <img src="{{path}}" alt="img" style="height:2.2rem">
      </a>
    </div>
    <div>
      <span>
        <a mat-button style="padding:0.5rem" routerLink="/dashboard" routerLinkActive="active-item"
          [routerLinkActiveOptions]="{exact:true}">
          <mat-icon style="color: #1A3F6E;" role="img" aria-hidden="true">dashboard</mat-icon>
          <span style="padding-left:4px;font-size:1rem;color: #1A3F6E;">Dashboard<span
              class="sr-only">(current)</span></span>
        </a>
      </span>
      <span>
        <a mat-button style="padding:0.5rem" routerLink="/vulnerability" routerLinkActive="active-item"
          [routerLinkActiveOptions]="{exact:true}">
          <mat-icon style="color: #1A3F6E;" role="img" aria-hidden="true">apps</mat-icon>
          <span style="padding-left:4px;font-size:1rem;color: #1A3F6E;">Vulnerability</span>
        </a>
      </span>
      <span>
        <a mat-button style="padding:0.5rem" routerLink="/login" routerLinkActive="active-item"
          [routerLinkActiveOptions]="{exact:true}" (click)="logout()">
          <mat-icon style="color: #1A3F6E;" role="img" aria-hidden="true">logout</mat-icon>
          <span style="padding-left:4px;font-size:1rem;color: #1A3F6E;">Logout</span>
        </a>
      </span>
  
    </div>
  
  </mat-toolbar>
  
  <router-outlet></router-outlet>
  
  <!-- <div style="height:auto;">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          <a class="navbar-brand" routerLink="/dashboard">
            <img src="assets/logo.png" alt="img" style="height:3rem">
          </a>
        </span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md style="width:100%;text-align:end;">
          <a mat-button style="padding:0.9rem" routerLink="/dashboard" routerLinkActive="active-item"
            [routerLinkActiveOptions]="{exact:true}">
            <mat-icon role="img" aria-hidden="true">dashboard</mat-icon>
            <span style="padding-left:4px;font-size:1rem">Dashboard</span>
          </a>
  
          <a mat-button style="padding:0.9rem" routerLink="/vulnerability" routerLinkActive="active-item"
            [routerLinkActiveOptions]="{exact:true}">
            <mat-icon role="img" aria-hidden="true">apps</mat-icon>
            <span style="padding-left:4px;font-size:1rem">Vulnerability</span>
          </a>
          <a mat-button style="padding:0.9rem" routerLink="/login" routerLinkActive="active-item"
            [routerLinkActiveOptions]="{exact:true}" (click)="logout()">
            <mat-icon role="img" aria-hidden="true">logout</mat-icon>
            <span style="padding-left:4px;font-size:1rem">Logout</span>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav mode="side">
        <mat-nav-list (click)="sidenav.close()">
          <a mat-list-item routerLink="/dashboard" routerLinkActive="active-item"
            [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
          <a mat-list-item routerLink="/vulnerability" routerLinkActive="active-item"
            [routerLinkActiveOptions]="{exact:true}">Vulnerability</a>
          <a mat-list-item routerLink="/login" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact:true}"
            (click)="logout()">Login</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->