.navbar {
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.40);
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 2000; /* Ensure that your app's content doesn't overlap the toolbar */
  }
  .font_bold {
    font-family: PoppinsBold;
  }
  .font_regular {
    font-family: PoppinsRegular;
  }
  .colorBlue {
    color: #1a3f6e;
  }
  .colorRed {
    color: #d82b27;
  }
  
  .padding-lr {
    padding: 0 80px;
  }
  
  .padding-tb {
    padding: 0 50px;
  }
  
  @media screen and (max-width: 600px) {
    .padding-lr {
      padding: 0 20px;
    }
    .padding-tb {
      padding: 0;
    }
  }
  
  .main-menu {
    margin-right: 30px;
  }
  .main-menu > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }
  .main-menu > ul > li {
    position: relative;
    display: inline-block;
    margin: 0 15px;
  }
  .main-menu > ul > li:first-child {
    margin-left: 0;
  }
  .main-menu > ul > li:last-child {
    margin-right: 0;
  }
  .main-menu > ul > li > a {
    display: block;
    color: #163e6f;
    padding: 35px 0;
    font-weight: 600;
  }
  .main-menu > ul > li > a:hover {
    color: #da2b27;
  }
  .main-menu > ul > li:hover > a {
    color: #da2b27;
  }
  .main-menu > ul > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    z-index: 999;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .main-menu > ul li {
      margin: 0 15px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-menu > ul li {
      margin: 0 8px;
    }
  }
  .main-menu.menu-color-black > ul > li > a {
    display: block;
    color: #222;
  }
  .main-menu.menu-color-black > ul > li > a:hover {
    color: #da2b27;
  }
  .main-menu.menu-color-black > ul > li:hover > a {
    color: #da2b27;
  }
  .main-menu.menu-color-black > ul > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    z-index: 999;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .main-menu.menu-color-black > ul > li li {
      margin: 0 15px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-menu.menu-color-black > ul > li li {
      margin: 0 8px;
    }
  }
  
  .drp1 {
    background: #ffffff !important;
  }
  
  .drp1:hover {
    background: #eee !important;
    color: #455a64 !important;
  }
  
  .active-item {
    background: #eee !important;
    color: #455a64 !important;
  }
  
  a:hover {
    text-decoration: none !important;
    color: #455a64 !important;
  }
  