<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div id="panelDemo7" class="panel panel-default" style="width:905px;">
        <div class="row">
            <h2>Change Password</h2>
            <p>Please Change your password here.</p>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <h3><label>Old Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" style="width:280px;" type="password" [(ngModel)]="oldpassword" required=""/>
                        <!-- <span class="input-group-addon">
                            <span class="{{showHideClass}}" style="cursor:pointer"></span>

                        </span> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <h3><label>New Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" style="width:280px;" type="password" [(ngModel)]="newpassword" required="" />
                        <!-- <span class="input-group-addon">
                            <span style="cursor:pointer"></span>
                        </span> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <h3><label>Confirm Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" style="width:280px;" type="password" [(ngModel)]="confirmpassword" required=""/>
                        
                    </div>
                </div>
            </div>
            
            <button type="submit" [disabled]="!oldpassword || !newpassword || !confirmpassword" class="btn btn-purple" (click)="ChangePassword()">Save</button>
            &nbsp;&nbsp;<button type="submit" class="btn btn-purple" (click)="onCancel();">Close</button>

        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>

    </div>
</div>
