<div class="container-fluid" style="padding:50px;">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    
    <div class="row">
        <h1>ScanSnap for Invoice Account Creation</h1>
        <br />
        <h1>Subscription Completed</h1>
    </div>
    <div class="row">
        <span>Subscription is complete. A subscription code has been sent to your registered email address.</span>
        <br />
    </div>
    <div class="form-group"></div>

    <div class="row">
        <span>Your email is your username</span>
        <span>If this is your first subscription, use the subscription code as password to login. </span>
        <span>You will be asked to change your password upon first login. </span>
    </div>
<br><br>
    <div class="row">
        <button type="submit" (click)="GoLogin()" class="btn btn-purple">Go to login page</button>
    </div>
</div>
