<p>
    <mat-toolbar style="background-color:#990E1C;color: white;">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>ScanSnap for Invoice</span>
      <span class="example-spacer"></span>
      <span style="margin-right:70px;">{{username}}</span>
    
      <div *ngIf="isbtnvisible">
          
      <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item (click)="openDialog()">
          <mat-icon style="color: orange;">lock_reset</mat-icon>
          <span>Change Password</span>
    </button>
    <button mat-menu-item (click)="Logout();">
          <mat-icon style="color: orange;">exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
    </span>
    </mat-menu>
      </div>
    </mat-toolbar>
  </p>
  
<router-outlet></router-outlet>
