.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 
 .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }