
<div style="background-color: #fff;">
  
  <ngx-ui-loader></ngx-ui-loader>

  <router-outlet>
    <!-- <nav id="page-navigation" class="navbar navbar-expand-sm bg-success navbar-dark" *ngIf="nav.visible">
      <label class="navbar-brand">ScanSnap for Invoice </label>
      
      <div class="collapse navbar-collapse" id="mynav">
          <form class="form-inline">
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="input-group">
      <div class="input-group-prepend" style="padding-top: 10px;">
    <label>&nbsp;</label>{{username}}
    <span style="padding-left: 18px;margin-left: 324px;">
      <a mat-button style="padding:0.5rem" (click)="openDialog()" routerLinkActive="active-item"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon style="color: #fff;" role="img" aria-hidden="true">lock_reset</mat-icon>
        <span style="padding-left:8px;font-size:1.2rem;color: #fff;">Change Password</span>
  
      </a>
    </span>
  
    <span style="padding-left: 0px;margin-left: 12px;">
      <a mat-button style="padding:0.5rem" (click)="Logout()" routerLinkActive="active-item"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-icon style="color: #fff;" role="img" aria-hidden="true">logout</mat-icon>
        <span style="padding-left:6px;font-size:1.2rem;color: #fff;">Logout</span>
      </a>
    </span>
  </div></div>
  </div>
        </form>
      </div>
    </nav> -->
</router-outlet>
</div>
