<div class="container-fluid" style="padding:50px;">
<div class="row">
    <h2>ScanSnap for Invoice Account Creation</h2>
    <h3>Card Details</h3>
    <p>Please fill the card details</p>
<br>
<div class="row">
    <div class="col-lg-3">
    <p>  
        <mat-form-field  appearance = "legacy" class="creditCardText" style="width:100%;">  
          <mat-label> Card Number* </mat-label>  
          <input matInput (ngModelChange)="mychange($event)" [ngModel]="cardno" maxlength="19" placeholder = "0000-0000-0000-0000">  
          <mat-icon matSuffix> credit_card </mat-icon>  
        </mat-form-field>  
      </p>  
            <p>  
        <mat-form-field appearance = "legacy" style="width:100%;">  
          <mat-label> Name* </mat-label>  
          <input matInput [(ngModel)]="name" placeholder = "Name">  
          <mat-icon matSuffix> person </mat-icon>  
        </mat-form-field>  
      </p>  
      <p>  
        <mat-form-field appearance = "legacy" style="width:100%;">  
          <mat-label> Address* </mat-label>  
          <input matInput [(ngModel)]="address" placeholder = "Address">  
          <mat-icon matSuffix> house </mat-icon>  
        </mat-form-field>  
      </p>  
      <p>  
        <mat-form-field appearance = "legacy" style="width:100%;">  
          <mat-label> Expiry Date* </mat-label>  
          <input matInput [(ngModel)]="expdate" placeholder = "mm/YYYY">  
          <mat-icon matSuffix> edit_calendar </mat-icon>  
        </mat-form-field>  
      </p>  
      
      <p>  
        <mat-form-field appearance = "legacy" style="width:100%;">  
          <mat-label> CVV </mat-label>  
          <input matInput maxlength="3" [(ngModel)]="cvvpin" type="password" placeholder = "CVV">  
          <mat-icon matSuffix>pin</mat-icon>  
        </mat-form-field>  
      </p>  
    </div>

</div>
<button type="submit" class="btn btn-purple" (click)="onClickSave()">Save</button>&nbsp;&nbsp;&nbsp;

</div>  
</div>
<script>
    $('.creditCardText').keyup(function () {
        var foo = $(this).val().split("-").join(""); // remove hyphens
        if (foo.length > 0) {
            foo = foo.match(new RegExp('.{1,4}', 'g')).join("-");
        }
        $(this).val(foo);
    });
</script>