<mat-toolbar style="background-color:#990E1C;color: white;">
    <span>ScanSnap for Invoice</span>
</mat-toolbar>
    <div class="limiter">
        <div class="row">
            <div class="col-lg-12" style="padding: 20px 20px 20px;">
                <div class="col-lg-8">
                    <div class="row">
                        <!-- <h1 style="font-family: inherit;font-weight: bold; padding-top: 15px;">ScanSnap for Invoice</h1> -->
                        <h2 style="font-family: inherit; color: #656565; padding-top: 15px;">If you have an account, enter your username and password to login</h2>
                        <h2 style="font-family: inherit; color: #656565;padding-top: 15px;">Use the email address used to subscribe to this solution as your username</h2>
                        <h2 style="font-family: inherit; color: #656565;padding-top: 15px;">If you are logging in for the first time, use your first subscription id sent to your email as the password.</h2>
                        <h2 style="font-family: inherit; color: #656565;padding-top: 15px;">You will be asked to change your password.</h2>
    
                    </div>
                </div>
                <div class="col-lg-4">

                    <form class="login100-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div style="margin: 0px 0px 150px 0px;">
                            <span>
                                <h1 style="font-family: inherit;font-weight: bold; padding-top: 15px;">Login</h1>
                            </span>
    <br>
                            <div class="wrap-input100 validate-input">
                                <mat-form-field appearance="fill" style="width:95%;">
                                    <mat-label>Username</mat-label>
                                    <input  matInput type="text" name="Username" placeholder="Username"
                                    style="font-family: sans-serif;" formControlName="username" >
                                    <mat-icon matSuffix>person</mat-icon>
                                </mat-form-field>
                                <div *ngIf="validateLoginForm && loginFormControls.username.errors">
                                    <small class="text-danger" *ngIf="loginFormControls.username.errors.required">
                                        Please Enter User Name
                                    </small>
                                </div>
                                
                            </div>
    
                            <div class="wrap-input100 validate-input">
             <mat-form-field appearance="fill" style="width:95%;">
                <mat-label>Password</mat-label>
                <input  matInput autocomplete="off" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
                                <div *ngIf="validateLoginForm && loginFormControls.password.errors">
                                    <small class="text-danger" *ngIf="loginFormControls.password.errors.required">
                                        Please Enter Password
                                    </small>
                                </div>
                            </div>
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" style="font-family: sans-serif;">
                                    Login
                                </button>
                            </div>
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" (click)="ForgotPassword()" style="font-family: sans-serif;">
                                    Forgot Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <form>
        <div class="modal" role="dialog" id="forgot">
          <div class="modal-dialog">
            <div class="modal-content" style="width:950px;">
              <div class="modal-header">
                    
      
      <div class="row">
        <div class="col-sm-10">
          <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>View InternalUser Actions
          </h2>
          </div>
        </div>
      
      </div>
              </div>
              <div class="modal-body">
      test
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  