    <p>
        <mat-toolbar style="background-color:#990E1C;color: white;">
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button> -->
          <span>ScanSnap for Invoice</span>
          <span class="example-spacer"></span>
          <span style="margin-right:70px;">{{username}}</span>
          <button mat-icon-button [matMenuTriggerFor]="menuinfo" #menuTriggerinfo="matMenuTrigger" (mouseover)="menuTriggerinfo.openMenu()">
            <mat-icon style="margin-left:-70px;">info</mat-icon>
          </button>         
          <mat-menu #menuinfo="matMenu" [overlapTrigger]="false">
            <span (mouseleave)="menuTriggerinfo.closeMenu()">
              <button mat-menu-item>
                <mat-icon style="color: orange;">horizontal_split</mat-icon>
                <a style="color: black;" href='https://microsolutioneasynxconnecttst.fuj.s365.us/MicroFlowApp/delivery/ScanSnap%20for%20Invoice%20Quick%20Start%20Guide.pdf' target="_blank"><span>Quick Start Guide</span></a> 
          </button>
          <button mat-menu-item>
                <mat-icon style="color: orange;">view_list</mat-icon>
                <a style="color: black;" href='https://microsolutioneasynxconnecttst.fuj.s365.us/MicroFlowApp/delivery/ScanSnap%20for%20Invoice%20User%20Manual.pdf' target="_blank"><span>User Manual</span></a>
              </button>
              <button mat-menu-item>
                <mat-icon style="color: orange;">receipt</mat-icon>
                <a style="color: black;" href='https://microsolutioneasynxconnecttst.fuj.s365.us/MicroFlowApp/delivery/en-USFullReleaseNotes.pdf' target="_blank"><span>Release Notes</span></a>
              </button>
              <button mat-menu-item>
                <mat-icon style="color: orange;">dns</mat-icon>
                <a style="color: black;" href='https://microsolutioneasynxconnecttst.fuj.s365.us/MicroFlowApp/delivery/en-USEULA.pdf' target="_blank"><span>End User License Agreement</span></a>
              </button>
          </span>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item (click)="openDialog()">
              <mat-icon style="color: orange;">lock_reset</mat-icon>
              <span>Change Password</span>
        </button>
        <button mat-menu-item (click)="Logout();">
              <mat-icon style="color: orange;">exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
        </span>
        </mat-menu>
        </mat-toolbar>
      </p>
      
  <router-outlet></router-outlet>
