<div class="container-fluid" style="padding:50px;">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    
    <div class="row">
        <h1>Account Subscription Completed</h1>
        <br />
    </div>
    <div class="row">
        <span>A subscription code has been sent to your registered email address.</span>
        <br />
    </div>
    <div class="form-group"></div>

    <div class="row">
        <span>Your email is your username </span>
        <div class="form-group"></div>

        <span>If this is your first subscription, use the subscription code as password to login. </span>
        <span>You will be asked to change your password upon first login. </span>
    </div>
<br><br>
<div class="row col-lg-2">
    <button type="submit" (click)="GoLogin()" class="btn btn-purple">Go to login page</button>
    </div>
</div>
