<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div id="panelDemo7" class="panel panel-default">
        <div class="row">
            <h2 style="padding-top: 10px;">Set Password</h2>
            <p>Please set your password here.</p>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>Current Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <!-- <input class="form-control" style="width:280px;" type="password" [(ngModel)]="currentpassword"  /> -->
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Old Password</mat-label>
                            <input  matInput [(ngModel)]="currentpassword" placeholder="Old Password" [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>New Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <!-- <input class="form-control" style="width:280px;" type="password" [(ngModel)]="newpassword"/> -->
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>New Password</mat-label>
                            <input  matInput [(ngModel)]="newpassword" placeholder="New Password" [type]="hideNew ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="myFunctionNew()">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" style="padding-top: 10px;">
                        <h3><label>Confirm Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <!-- <input class="form-control" style="width:280px;" type="password" [(ngModel)]="confirmpassword"/>                        -->
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Confirm Password</mat-label>
                            <input  matInput [(ngModel)]="confirmpassword" placeholder="Confirm Password" [type]="hideConfirm ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="myFunctionConfirm()">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="!currentpassword || !newpassword || !confirmpassword" class="btn btn-purple" (click)="Setpassword()">Save</button>

        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>

    </div>
    </div>
