
<div class="container-fluid" style="padding:50px;">
  <div class="row">
    <h1>ScanSnap for Invoice Account Creation</h1>
    <br />
    <h2>Available Products</h2>
    <p>Please choose a product from the dropdown below</p><br>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-1" style="padding-left: 0px;">
          <div class="form-group">
            <h3><label>Product</label></h3>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <div class="col-lg-12">
              <select class="form-control" #mySelect (change)="onProductChange(mySelect.value)" [disabled]="btnproductdisable" title="select product"
                name="lang">
                <option value="">--Select Product--</option>
                <option *ngFor="let product of products" value={{product.Id}}>{{product.ProductName}}</option>
              </select>
  
            </div>
          </div>
  
        </div>
        <div class="col-sm-8" *ngIf="this.isbtnvisible">
          <button type="submit" class="btn btn-purple" data-toggle="modal" data-target="#newModal" data-backdrop="static" data-keyboard="false">Create User</button> &nbsp;&nbsp;        
          <button type="submit" class="btn btn-purple" data-toggle="modal" data-target="#assignEval" data-backdrop="static" data-keyboard="false" (click)="AssignEval();">Assign SplEval to User</button>
  
        </div>
</div>
    </div>
    <!--<button type="submit" class="btn btn-primary" ng-click="Next();">Next</button>-->
    <br>
    <div *ngIf="isShown">
      <h2>Available Subscriptions</h2>
      <p>Please select an offer and click on Buy Now to subscribe to that offer</p>
    </div>
  </div>
  
  <div *ngIf="isShown">
    <mat-form-field appearance="standard">
      <mat-label>Filter...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Any..." #input>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 " *ngIf="isShown">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
      </ng-container>

      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Duration </th>
        <td mat-cell *matCellDef="let row"> {{row.Duration}} </td>
      </ng-container>

      <ng-container matColumnDef="PartNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Part Number </th>
        <td mat-cell *matCellDef="let row"> {{row.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Action </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon style="cursor: pointer;" (click)="onSelectRisk(row)">shopping_cart</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  

</div>
<form>
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Create User</h2></div>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="text" id="txtemail" [(ngModel)]="email" class="form-control" placeholder="Email"
                name="email">
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-3 col-form-label">User Type</label>
            <div class="col-sm-8">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" [(ngModel)]="usertype" id="inlineRadio1" value="User"> User
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" [(ngModel)]="usertype" id="inlineRadio2" value="Internal"> Internal
              </label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-purple" data-toggle="modal" data-target="#buySub" data-dismiss="modal" data-backdrop="static" data-keyboard="false" [disabled]="!email || !usertype" (click)="CreateUser()">Create User And Assign Subscription</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Buy subscription modal popup -->
<form>
  <div class="modal" role="dialog" id="buySub">
    <div class="modal-dialog">
      <div class="modal-content" style="width:900px;height: 490px;position: absolute;
      top: 10px;
      right: 100px;
      bottom: 0;
      left: -160px;
      z-index: 10040;
      overflow: auto;
      overflow-y: auto;
   ">
        <div class="modal-header">
          <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Buy Subscriptions</h2></div>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="col-lg-12" style="padding-left:14px;">
                <h2>Available Subscriptions</h2>
                <p>Please select an offer and click on Buy Now to subscribe to that offer</p>
              </div>
          </div>
          <br>
          <div class="mat-elevation-z8 ">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
              </ng-container>
        
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
              </ng-container>
        
              <ng-container matColumnDef="Duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Duration </th>
                <td mat-cell *matCellDef="let row"> {{row.Duration}} </td>
              </ng-container>
        
              <ng-container matColumnDef="PartNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Part Number </th>
                <td mat-cell *matCellDef="let row"> {{row.PartNumber}} </td>
              </ng-container>
        
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple"> Action </th>
                <td mat-cell *matCellDef="let row" title="BUY NOW" data-dismiss="modal">
                  <mat-icon style="cursor: pointer;" (click)="onSelectRow(row)">shopping_cart</mat-icon>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
              <!-- <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>

        </div>
        <div class="modal-footer">
          <div style="text-align: left;">@Copyright 1995 - {{year}} FUJITSU</div>
          <button class="btn btn-warning" data-dismiss="modal">Close</button>

          </div>
      </div>
    </div>
  </div>
</form>
<!--Assign SplEval To Users-->

<form>
  <div class="modal" role="dialog" id="assignEval">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title" style="padding-top: 15px;padding-left:14px;"><h2>Assign splEval to users</h2></div>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-3 col-form-label">Users</label>
            <div class="col-sm-8">
              <select class="form-control" #mySelect1 [(ngModel)]="selectedValue" title="select user"
                name="lang">
                <option value="">--Select User--</option>
                <option *ngFor="let user of Users" [ngValue]="user">{{user.UserEmail}}</option>
              </select>
  
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-3 col-form-label">Add Pages</label>
            <div class="col-sm-8">
              <input type="text" id="txtemail" [(ngModel)]="pagecount" class="form-control" placeholder="Pagecount"
              name="email">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-purple" data-backdrop="static" data-keyboard="false" data-dismiss="modal" [disabled]="!selectedValue || !pagecount" (click)="AddPages()">Add Pages</button>
        </div>
      </div>
    </div>
  </div>
</form>
