<div class="container-fluid">
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row">
        <div class="form-group">
        </div>
    </div>
    <div id="panelDemo7" class="panel panel-default">
        <div class="row">
            <h2>Set Password</h2>
            <p>Please set your password here.</p>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <h3><label>Current Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" style="width:280px;" type="password" [(ngModel)]="currentpassword"  />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <h3><label>New Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" style="width:280px;" type="password" [(ngModel)]="newpassword"/>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <h3><label>Confirm Password</label></h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input class="form-control" style="width:280px;" type="password" [(ngModel)]="confirmpassword"/>                       
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="!currentpassword || !newpassword || !confirmpassword" class="btn btn-purple" (click)="Setpassword()">Save</button>

        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>

    </div>
    </div>
