<div class="container-fluid" style="padding:50px;">
    
<div class="row">
    <div class="col-sm-10">
      <div class="modal-title"><h2>Billing Report
      </h2>
      </div>
    </div>
  
  </div>
  <div class="row"><div class="col-sm-5">
    <mat-form-field appearance="fill">
        <mat-label>FromDate</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fromdate" [max]="maxDate" dateTimeFormat="dd/MM/yyyy">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label>ToDate</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="todate" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  </div>
  <div style="padding-top: 10px;">          
    <button class="btn btn-purple" (click)="SearchBillingReport()">Search</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-purple" [disabled]="btnexport" (click)="exportBillingTable()">Export</button>

</div>
</div>
  
  <div class="mat-elevation-z8 scoll-tree">
    <table id="ExampleMaterialTable" mat-table [dataSource]="billingReportdatasource" matSort>
      <ng-container matColumnDef="CustomerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> User Name </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.CustomerName}} </td>
      </ng-container>

      <ng-container matColumnDef="SubscriptionCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Subscription Code </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.SubscriptionCode}} </td>
      </ng-container>

      <ng-container matColumnDef="BillID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Bill ID </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.BillID}} </td>
      </ng-container>

      <ng-container matColumnDef="InvDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Invoice Date </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.InvDate|date:'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Status </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.Status}} </td>
      </ng-container>

      <ng-container matColumnDef="BillDetail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Bill Detail </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.BillDetail}} </td>
      </ng-container>

      <ng-container matColumnDef="Overage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Overage </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.Overage}} </td>
      </ng-container>

      <ng-container matColumnDef="InvoiceNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Invoice Number </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.InvoiceNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="InvoiceAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="btn-purple" style="width:1%"> Invoice Amount </th>
        <td mat-cell *matCellDef="let row" style="width:1%"> {{row.InvoiceAmount}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="billingReportdisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: billingReportdisplayedColumns;"></tr>
 <tr class="mat-row" *matNoDataRow>
            <td style="text-align: center;" class="mat-cell" colspan="12">No data available.</td>
          </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of billing"></mat-paginator>

          </div>
          <br>
          <div class="row">
              <div class="col-sm-6"></div>
            <button class="btn btn-purple" (click)="Back()">Back</button>
          </div>

</div>

  